@import url(https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap);

/*saving our custom variables*/
:root {
    --color-01: lightgreen;
    --color-02: darkgreen;
    --color-03: skyblue;
    --color-04: darkblue;
    --border: 0.5rem inset var(--color-02);
}

@media (prefers-color-scheme: dark) {
    :root {
    --color-01: rgb(38, 38, 38);
    --color-02: lightgreen;
    --color-03: darkblue;
    --color-04: skyblue;
    }
}


body {
    font-family: 'Fragment Mono', monospace;
    background-color: var(--color-01);
    color: var(--color-02);
}

dialog[open] {
    background-color: var(--colour-02);
    color: var(--colour-01);
    border: var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: var(--border);
}

.whiteKey {
    background-color: white;
    color: black;
    border: 3px solid black;
    padding: 25px 15px;
    cursor: pointer;
    box-shadow: 0 5px 0 black;
}

.whiteKey:hover {
    background-color: lightgray;
}

.whiteKey:active {
    background-color: gray;
    color: white;
    box-shadow: 0 2px 0 black;
    transform: translateY(3px);
}

.randomButton {
    background-color: var(--color-04);
    color: var(--color-01);
    border: 3px solid var(--color-02);
    padding: 15px 20px;
    font-family: 'Fragment Mono', monospace;
    cursor: pointer;
}

.randomButton:hover {
    background-color: var(--color-02);
    color: var(--color-04);
}

.slidecontainer {
    padding: 10px;
}

.slider {
    appearance: none;
    width: 250px;
    height: 10px;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}

/* The slider button */
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 30px;
    background-color: var(--color-02);
    border: 2px solid black;
    cursor: pointer;
}

/* When the user hovers over the slider */
.slider:hover {
    background-color: lightgray;
}

/* When the user clicks the slider */
.slider::-webkit-slider-thumb:active {
    background-color: var(--color-04);
}