@import url(https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap);

/*saving our custom variables*/
:root {
    --color-01: lightgreen;
    --color-02: darkgreen;
    --color-03: skyblue;
    --color-04: darkblue;
    --border: 0.5rem inset var(--color-02);
}

@media (prefers-color-scheme: dark) {
    :root {
    --color-01: rgb(38, 38, 38);
    --color-02: lightgreen;
    --color-03: darkblue;
    --color-04: skyblue;
    }
}


body {
    font-family: 'Fragment Mono', monospace;
    background-color: var(--color-01);
    color: var(--color-02);
}

dialog[open] {
    background-color: var(--colour-02);
    color: var(--colour-01);
    border: var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: var(--border);
}

.whiteKey {
    cursor: pointer;
}
.whiteKey:hover {
    background-color: coral;
}
.whiteKey:active {
    background-color: red;
}

.dropdown {
  position: relative;
}

/* Style the dropdown button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside dropdown content */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change background color of dropdown button on hover */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}